* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
  margin: 0;
}
header {
  background-color: rgb(0, 123, 255);
  text-align: right;
  color: #F5F5F5;

}
h1 
{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 10;
}
nav a {
  align-items: center;
  margin: 7px;
  text-decoration: none;
  color: #F5F5F5;
}









/* main section {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: green;
} */