/* Universal selector */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f5f5f5;
   margin: 0;
}

header {
   background-color: #007BFF;
   color: white;
   padding: 10px 20px;
   text-align: center
}

header h1 {
   margin-bottom: 10px;
}

nav a {
   color: white;
   text-decoration: none;
   margin: 0 5px;
}

nav a:hover {
   color:aqua;
   text-decoration: none;
   
}

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}

main section {
   background-color: white;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
   max-width: 300px;
   padding: 15px;
   text-align: center;

}
main section:hover {
  transform: scale(1.1);
}


main section img {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
   margin-bottom: 10px;
}

main section h2 {
   color: #007BFF;
   margin-bottom: 10px;
}

footer {
   text-align: center;
   padding: 10px;
   background-color: #007BFF;
   color: white;
   margin-top: 20px;
}

@media screen and (max-width: 600px) {
   body {
       background-color: lightblue;
   }
}