* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.login-container {
  background-color: #ffffff;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-container h2 {
  color: #6a11cb;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
}

.login-container input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.3);
}

.login-container button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.login-container p {
  font-size: 14px;
  color: #777;
  margin-top: 15px;
}

.login-container a {
  color: #2575fc;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}